<div class="container">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
        <h2>Please login using your username</h2>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" formControlName="userName"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched">Please enter your username</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
            <button type="submit" [disabled]="!loginForm.valid" mat-fab color="primary"><mat-icon>login</mat-icon></button>
        </div>
    </form>
    <div>
      New user ? <span style="color:blue" (click)=newUser()>Sign Up</span>
    </div>
  </div>
  